.form {
  background-color: #01978b;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border-style: none;
  border-radius: 10px;
  color: #f4faf4;
  box-shadow: inset;
}

.form-registration {
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 2rem;
}

.form-login {
  margin-top: 65px;
  margin-bottom: auto;
  padding: 2.5rem;
}

.card-img-login {
  max-width: 300px;
  margin-left: 15%;
  margin-right: auto;
}

.card-img-registration {
  margin-top: 0;
  max-width: 250px;
  margin-left: 22.5%;
  margin-right: auto;
}

.form_fields {
  font-weight: 400;
  color: aliceblue;
}

.textboxes {
  width: 100%;
  font-weight: 300;
  color: #333;
  text-align: justify;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 5px;
}

.textboxes-login {
  line-height: 2;
  font-size: 16px;
  margin-top: 2px;
}

.textboxes-registration {
  line-height: 1;
  font-size: 14px;
  margin-top: 2px;
}

.btn-flat,
.btn-flat.active {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #3d3d3d;
  color: aliceblue;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  width: 100%;
  border-style: solid;
  border-radius: 8px;
}

.btn-xxl:hover {
  background-color: #3d3d3d;
  font-size: 18.5pt;
}

.form-link {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1rem;
}

.link{
  text-decoration: none;
  margin-left: 50%;
  margin-right: auto;
  margin-bottom: 50px;
  color: #333;
}

.link:hover{
  color: #01978b;
}
