@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  background: #F4FAF2;
  background-attachment: fixed;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.card-title {
  text-align: center;
}

.card {
  border-style: none;
  background-color: #F4FAF2;
}


.nav{
  background-color:  #01978b;
  color: #f4faf4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title{
  font-size: 2rem;
  padding: 2rem;
  text-align: left;
  font-weight: 500;
  border-style: none; 
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

nav li.active{
  background-color: #f4dbc2;
  color: #2B3A55;
}

.nav li:hover{
  color: #f5ebeb;
  background-color: #2b3a55;
}

