@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  background: rgb(244, 194, 194);
  background: linear-gradient(
    45deg,
    rgba(244, 194, 194, 1) 0%,
    rgba(229, 204, 244, 1) 50%,
    rgba(164, 132, 199, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(244, 194, 194, 1) 0%,
    rgba(229, 204, 244, 1) 50%,
    rgba(164, 132, 199, 1) 100%
  );
  background-attachment: fixed;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.card-title {
  text-align: center;
}

.card {
  border-style: none;
  background-color: #a484c7;
}
